@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100vh;
  padding: 2.5rem;
  color: var(--color-text);
}

:root {
  --color-background: #2d3439;
  --color-background-lighter: #42484d;
  --color-running: #00c46a;
  --color-cycling: #ffb545;
  --color-input-placeholder: #808182;
  --color-input-background: #d6dee0;
  --color-text: #d0d0d0;
  --color-light: #aaa;
  --color-light--2: #ececec;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  flex-basis: 50rem;
  height: 100%;
  padding: 3rem 5rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
}

.header {
  height: 5.2rem;
  margin-bottom: 4rem;
}

.logo {
  height: 100%;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  padding-top: 0;
}

.menu-item {
  list-style: none;
  font-size: 1.2em;
}

.menu-item .btn,
.menu-item span {
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 600;
}

.menu-item select {
  padding: 0.2rem 0.4rem;
}

.menu-item option {
  font-size: inherit;
}

.menu-item .btn {
  padding: 0.3rem 0.6rem;
  background-color: var(--color-background-lighter);
  border: none;
  cursor: pointer;
}

.menu-item .sort-key {
  margin-left: 0.6rem;
}

.danger {
  color: #ff6b6b;
}

.workout-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.workout-container::-webkit-scrollbar {
  width: 0;
}

.register-record {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-background-lighter);
  padding: 1.5rem 2.5rem;
  border-radius: 5px;
  column-gap: 2.5rem;
  row-gap: 0.5rem;
  height: 9.25rem;
  margin-bottom: 1.75rem;
  transition: all 0.5s, transform 1ms;
}

.register-record.hidden {
  transform: translateY(-30rem);
  height: 0;
  margin-bottom: 0;
  padding: 0 2.5rem;
  opacity: 0;
}

.register-record option {
  text-transform: capitalize;
}

.register-record {
  text-transform: capitalize;
}

.form-label {
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  align-items: center;
  line-height: 1;
}

.form-field {
  width: 100%;
  font-size: 1.4rem;
  font-family: inherit;
  padding: 0.3rem 1.1rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-input-background);
  transition: all 0.3s;
}

.form-field:focus {
  outline: none;
  background-color: #fff;
}
.label-text {
  flex: 0 0 50%;
  color: var(--color-light--2);
  line-height: 1;
}

.hidden-field {
  display: none !important;
}
.workout-list {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  list-style: none;
}

.workout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5rem 2.25rem;
  background-color: var(--color-background-lighter);
  gap: 0.75rem 1.5rem;
  border-radius: 5px;
  border-left-width: 5px;
  border-left-style: solid;
  cursor: pointer;
}

.workout--running {
  border-left-color: var(--color-running);
}

.workout--cycling {
  border-left-color: var(--color-cycling);
}

.workout-title {
  grid-column: 1 / -1;
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-light--2);
}

.workout-details {
  text-wrap: nowrap;
}

.detail-icon {
  font-size: 1.7rem;
}

.detail-value {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-light--2);
  margin-right: 0.4rem;
}

.detail-unit {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--color-light);
  text-transform: uppercase;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: center;
  color: var(--color-light);
}

.copyright a:link,
.copyright a:visited {
  color: inherit;
  transition: color 0.3s;
}

.copyright a:hover,
.copyright a:active {
  color: white;
}

#map {
  flex: 1 1 auto;
  background-color: var(--color-light);
}

.popup {
  background-color: var(--color-background-lighter);
  border-radius: 5px;
  border-left: 5px solid var(--_border-left-color);
  font-family: inherit;
  font-size: 1.5rem;
  --_border-left-color: var(
    --border-left-color,
    var(--color-background-lighter)
  );
}

.popup--running {
  --border-left-color: var(--color-running);
}

.popup--cycling {
  --border-left-color: var(--color-cycling);
}

/* increase class weight by adding parent class names */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-background-lighter);
}

.leaflet-popup .leaflet-popup-content {
  color: var(--color-light--2);
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-background-lighter);
}

.leaflet-container .leaflet-popup a.leaflet-popup-close-button {
  color: var(--color-text);
  font-weight: 600;
}
